.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.card-details.hotel-rating {
    width: 35px;
    margin-left: 10px;
}

.spn-hotel-information {
    
}