.filter-container {
    margin-top: 25px;
}

.filter-section {
    display: inline-block;
}

.filter-elem-group {
    margin: 20px 5px;
}

.filter-elem-group.inlined {
    width: 30%;
    display: flex;
    margin-left: 1%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.filter-item{
    margin-left: 10px;
}

textarea {
    height: 250px;
}

@media (min-width: 576px) {
    .filter-elem-group.inlined {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .filter-elem-group.inlined {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .filter-elem-group.inlined {
        width: 30%;
    }
}