header.show-big-true {
    background-color: rgb(26, 53, 91);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

header.show-big-false {
  background-color: rgb(26, 53, 91);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header h1 {
    color: #fff;
    font-weight: 200;
}
.header-content-container {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    height: 5em;
    width: 5em;
  }
  
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .show-big-false .App-logo {
    height: 3em;
    width: 3em;
  }